@charset "utf-8";
/*main color : #474E51*/
/*
제목
font-family: 'Julius Sans One', sans-serif;

font-family: 'Sumana', serif;
*/
body{
  background-color: #6DACBD;
  color: #474E51;
}
h1{
  font-size: 42px;
  font-family: 'Julius Sans One', sans-serif;
}
/*h2{
  font-size: 100px;
  font-size: 6.25rem;
  text-align: center;
  font-family: 'Sumana', serif;
  margin-top: -60px;
  margin-bottom: -50px;
}*/
a{
  color: #474E51;
  cursor: pointer;
}
.wrap{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F8F8;
  box-shadow: 5px 5px 5px #72979B;
}
.main_title{
  border-bottom: 1px solid #757F85;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 20px;
}
.main_title::after{
  content: '';
  display: block;
  margin-bottom: 2px;
  padding-top: 20px;
  border-bottom: 1px solid #757F85;
}
.gnb_wrap{
  text-align: center;
  border-bottom: 1px solid #757F85;
  position: relative;
  z-index: 99;
}
.main_nav{
  display: inline-block;
}
.main_nav li{
  display: inline-block;
  padding: 10px 45px;
}



/* 포폴 콘텐츠 */
.portfolio_content_wrap{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.portfolio_content_wrap .sub_title{
  width: 100%;
  padding-bottom: 9.17%; /* 이미지 사이즈 : 1494 × 137 // 계산법 : 높이 / 너비 * 100 */
  background: url("../images/sub-title.png") no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: -20px;
}

.one_content, .three_content, .two_content, .four_content{
  border-bottom: 1px solid #757F85;
}
.portfolio_content{
  padding: 40px 9px 40px 9px;
  box-sizing: border-box;
}
.portfolio_content > a{
  position: relative;
  display: block;
  overflow: hidden;
}
.portfolio_content > a::before{
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  transition: all 0.2s;
  background-color: hsla(0, 0%, 0%, 0.5);
}
.portfolio_content > a:hover::before{
  bottom: 0;
}
.portfolio_content > a::after{
  content: "Click!! go to website";
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px 0;
  color: #757F85;
  font-size: 20px;
  background-color: hsla(0, 0%, 100%, 0.8);
  transition: all 0.5s;
  text-align: center;
}
.portfolio_content > a:hover::after{
  top: 50%;
}

/* 두번째 콘텐츠 영역 */
.three_content{
  width: 100%;
  text-align: center;
}
.three_content > .portfolio_content{
  float: left;
  width: 33.3333%;
}

/* 세번째 콘텐츠 영역 */
.two_content{
  width: 100%;
  text-align: center;
}
.two_content > .portfolio_content{
  float: left;
  width: 50%;
}

/* 네번째 콘텐츠 영역 */
.four_content .left_con{
  width: 70%;
  float: left;
}
.four_content .right_con{
  width: 30%;
  float: left;
  text-align: center;
}

.four_content .right_con .portfolio_content:first-child{
  padding-bottom: 18px;
}
.four_content .right_con .portfolio_content:last-child{
  padding-top: 0;
}
.four_content .right_con button{
  margin-top: 0;
}

.four_content .right_con .about_content > p{
  width: 80%;
}


/* 버튼 */
.job_btn{
  margin-right: 20px;
}
.about_btn, .job_btn{
  padding: 10px 20px;
  background-color: #fff;
  border-top: 2px solid #6DACBD;
  border-bottom: 2px solid #6DACBD;
  border-right: none;
  border-left: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_btn a, .job_btn a{
  color: #6DACBD;
  font-size: 14px;
}

.about_btn:hover, .job_btn:hover{
  background-color: #6DACBD;
}

.about_btn:hover a, .job_btn:hover a{
  color: #fff;
}

/* 포폴 소개 콘텐츠 */
.about_content{
  background-color: #fff;
  text-align: left;
  padding: 20px 0px 0px 0px ;
  box-sizing: border-box;
  display: none;
}
.about_content p{
  margin-left: 30px;
  line-height: 1.5;
  padding-bottom: 30px;
  color: #5D666B;
  width: 94%;
}
.about_content h4{
  border-bottom: 1px solid #757F85;
  font-size: 18px;
  padding: 10px 0 5px 0;
  font-weight: normal;
  margin: 10px 20px;
}
.about_close_btn{
  border: none;
  background: #4C7885;
  color: #fff;
  padding: 30px 0;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}
.about_close_btn:hover{
  background: #6DACBD;
}

.three_left,.three_center,.three_right{ width: 300%; }
.three_center{
  position: relative;
  left: -100%;
}
.three_right{
  position: relative;
  left: -200%;
}

.two_left,.two_right{ width: 200%; }
.two_right{
  position: relative;
  left: -100%;
}

/*  */
.bottom_txt{
  text-align: center;
  padding-top: 40px;
}

/* 하단 */
.footer{
  border-top: 1px solid #757F85;
  text-align: center;
  padding: 20px 0px;
}